* {
	font-family: 'Roboto', sans-serif;
	font-size: 9pt;
}

h1 {
	font-size:28pt;
	background-color:#dcc23c;
	border-radius: 8px 8px 0 0;
	border-bottom: 2px solid #555;
}

h2 {
	font-size:14pt;
}

h1, h2 {
	font-family: 'UnifrakturCook', cursive;
	margin: 0;
}

body {
	background-color:#333;
}

#main {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #ddd;
	padding-bottom: 1px;
	border-radius: 10px;
	border: 2px solid black;
	box-shadow: black 0px 0px 3px 0px;
}

table {
	margin: 20px auto;
	border-spacing: 0;
	border-top: 1px solid black;
}

table input {
	width: 30px;
	text-align:center;
}

td:first-child {
	text-align: right;
	font-weight: bold;
	background-color: #ccc;
}

td, th {
	padding:5px 10px 5px 10px;
	border-bottom: 1px solid black;
}

th {
	text-transform: uppercase;
	background-color: #aaa;
}

.total {
	background-color:#eee;
}

.total, .totalmod {
	font-weight: bold;
}

.rawmod {
	color: #777;
}

.totalmod, .rawmod {
	font-style: italic;
}

#printout  {
	width: 300px;
	text-align: center;
}

p img {
	display:inline;
	width:24px;
	height:auto;
	vertical-align:middle;
}

#footer {
	background-color: #222;
	color: #aaa;
	margin-bottom: -1px;
	margin-top: 10px;
	border-radius: 0 0 7px 7px;
	padding: 10px;
}

#footer a {
	color:#ccc;
}

#footer p {
	margin: 1px;
}

#footer img {
	filter: invert(100%);
}

.copyright, .copyright a {
	color: #777;
	font-style: italic;
}

#learnmore {
	padding: 5px;
	color: white;
	border-radius: 5px;
	text-decoration: none;
	font-size:8pt;
}

.lmenabled {
	background: #AA2929;
}

.lmenabled:hover {
	background: #D55555;
}

.lmdisabled {
	background: #aaa;
}